html, body {
  height: 100%;
  width: 100%;
}
/* We will make the header more appealing using background-color: and color: to turn it black and blue. Using margin: and padding: we'll make the header bigger and more attractive*/
header h1 {
  background-color: #6495ED;
  color: black;
  font-family: bradley hand, cursive;
  font-size: 50px;
  margin: 25px;
  padding: 25px;
  text-align: center ;
}
header h2 {
  background-color: #6495ED;
  color: black;
  font-family: bradley hand, cursive;
  font-size: 22px;
  text-align: center ;
}
/* Using background-color: we will make the entire backgorund grey to make the other colors pop out more.*/
 body {
   background-color: #DED6D6;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   
 }
header h3 {
  background-color: #6495ED;
  color: black;
  font-family: bradley hand, cursive;
  font-size: 22px;
  text-align: center ;
}

footer {
  background-color: #6495ED;
  color: black;
  font-family: bradley hand, cursive;
  font-size: 22px;
    margin: 25px;
  padding: 25px;
  text-align: center ;
}
/* using li:hover we will create an effect where hovering over the list with a cursor will cause it to light up blue*/
li:hover {
  color: blue
}

a:hover {
  color:yellow
}